.form {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.labelForm {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.default {
  width: 100%;
  padding: 1.8rem 1.5rem;
  border: 1px solid var(--color-gray60);
  border-radius: 8px;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
  color: var(--color-black);
}

.default:focus {
  outline: 1px solid var(--color-primary);
}

.error {
  outline: 1px solid var(--color-red);
}

.errorMsg {
  color: var(--color-red);
}

.passwordWrap {
  position: relative;
}

.passwordBtn {
  position: absolute;
  top: 53%;
  right: 5%;
}
