@import '../../../styles/global.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.label {
  color: var(--black, #000);

  /* Linkbrary/body2-regular */
  font-family: Pretendard;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button {
  padding: 1.6rem 2rem;
  color: var(--Grey-Light, #f5f5f5);
  font-family: Pretendard;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
}

.cta {
  margin-top: 0.6rem;
}
