.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.sign {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #373740;
}

.sign a {
  color: var(--primary-color);
  text-decoration: underline;
}
