.box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.input {
  width: 400px;

  padding: 18px 15px;

  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20, #9FA6B2);
  background: var(--linkbrary-white, #F0F6FF);
}

.input:focus {
  outline: none;
  border: 1px solid var(--linkbrary-primary-color, #6D6AFE);
}

.label{
  color: var(--black, #000);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
