.btn {
  padding: 16px 20px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
  border: none;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
  text-decoration: none;

  color: var(--grey-light, #F5F5F5);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
