.input-container {
  position: relative;
  gap: 1.2rem;
}
.input-label {
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
}
.wrap-ImgContainer {
  position: absolute;
  top: 68%;
  right: 1.5rem;
  transform: translateY(-50%);
}
.ImgContainer {
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
}
.errorMessage {
  color: #ff5b56;
  font-size: 1.4rem;
  font-weight: 400;
}
