.input-container {
  position: relative;
}
.input-label {
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
}
.wrap-ImgContainer {
  position: absolute;
  top: 68%;
  right: 1.5rem;
  transform: translateY(-50%);
}
.ImgContainer {
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
}
.errorMessage {
  color: #ff5b56;
  font-size: 1.4rem;
  font-weight: 400;
}
.input-hover {
  margin-top: 1.2rem;
  display: flex;
  width: 35rem;
  padding: 1.8rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  border: 0.1rem solid #ccd5e3;
  background: #fff;
}
.input-hover:focus {
  /* border: 1px solid #6d6afe; */
  outline: 0.1rem solid #6d6afe;
}

.input-hover::placeholder {
  color: #9fa6b2;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}
