.signInputBox {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  position: relative;
}

.input {
  padding: 1.8rem 1.5rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  line-height: 150%;
  border: 0.1rem solid var(--gray-20-color);
}

.input.isError {
  border: 0.1rem solid var(--red-color);
}

.input.isError:focus {
  outline: var(--red-color);
}

.input:focus {
  border-color: var(--primary-color);
}

.signInputLabel {
  font-size: 1.4rem;
  font-weight: 400;
}

.eyeButton {
  position: absolute;
  top: 5.1rem;
  right: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.errorMessage {
  margin-top: -0.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--red-color);
  display: inline-block;
}
