.input {
  @include text-style(16, $blue-gray-100);

  width: 100%;
  border-radius: 0.8rem;
  border: 0.1rem solid $blue-gray-60;
  background-color: $white;
  padding: 1.8rem 1.5rem;

  &::placeholder {
    color: $blue-gray-80;
  }

  &:focus {
    border-color: $primary;
  }
}
