.add-folder {
  width: 100%;

  &-list {
    width: 100%;
    margin-bottom: 2.4rem;
    padding-right: 1rem;
    max-height: 17.2rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.6rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blue-gray-80;
      border-radius: 6rem;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &-item {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 8px;
      border-radius: 8px;
      background-color: $white;
      transition: all ease-in-out 0.2s;
      cursor: pointer;

      p {
        font-size: 16px;
        line-height: 24px;
        color: $blue-gray-100;
      }

      span {
        font-size: 14px;
        color: $blue-gray-80;
        margin-left: 8px;
      }

      &:not(:last-child) {
        margin-bottom: 4px;
      }

      &:hover {
        background-color: $light-blue;
      }

      &:hover p {
        color: $primary;
      }

      &.active {
        background-color: $light-blue;

        p {
          color: $primary;
        }
      }
    }
  }
}
