.search-form {
  margin-bottom: 4rem;
  position: relative;
  width: 100%;
  height: 5.4rem;

  &:before {
    position: absolute;
    top: 50%;
    left: 1.6rem;
    width: 1.6rem;
    height: 1.6rem;
    background: url('../public/assets/icons/search.svg') no-repeat center/
      1.6rem 1.6rem;
    content: '';
    transform: translateY(-50%);
  }

  input {
    padding: 1.8rem 1.6rem 1.5rem 4.2rem;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 1rem;

    &::placeholder {
      font-size: 1.6rem;
      color: #666;
    }
  }
}

@media screen and (max-width: 768px) {
  .search-form {
    margin-bottom: 3.2rem;
  }

  .search-form {
    input {
      &::placeholder {
        font-size: 1.4rem;
      }
    }
  }
}
