.modalShareSNS {
  display: flex;
  gap: 3.2rem;
}

.shareSNS {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  color: var(--gray-80-color);
  font-size: 1.3rem;
}

.shareLinkButton {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  color: var(--gray-80-color);
  font-size: 1.3rem;
}
