.footer {
  background-color: var(--black-color);
  padding: 3.2rem 10.4rem 6.4rem 10.4rem;
  font-size: 1.6rem;
}

.info {
  display: flex;
  justify-content: space-between;
  height: 6.4rem;
  width: 100%;

  @media (min-width: 375px) and (max-width: 767px) {
    display: grid;
    row-gap: 6rem;
    grid-template:
      "policy sns"
      "codeit .";
  }
}

.codeit {
  color: #676767;
  font-size: 1.6rem;

  @media (min-width: 375px) and (max-width: 767px) {
    grid-area: codeit;
  }
}

.policy {
  display: flex;
  gap: 3rem;

  @media (min-width: 375px) and (max-width: 767px) {
    grid-area: policy;
  }
}

.link {
  color: #676767;
  text-decoration: none;
  text-align: center;
  font-size: 1.6rem;
}

.sns {
  display: flex;
  gap: 1.2rem;
  cursor: pointer;

  @media (min-width: 375px) and (max-width: 767px) {
    grid-area: sns;
  }
}
