* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Pretendard";
}

/* header */

.header {
  background-color: #f0f6ff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20rem;
  background-color: #f0f6ff;
}

.profile {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.innerHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0px 60px;
}

.codeitLogo {
  background-color: #8f00ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* article */

/* footer */

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 16rem;
  padding-top: 3.2rem;
  background-color: #000000;
}

.footerBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 192rem;
  height: fit-content;
  padding: 0 10.4rem;
}

.copyright {
  color: #676767;
}

.footerLinks {
  display: flex;
  column-gap: 3rem;
  padding-right: 1.8rem;
}

.footerLink {
  color: #cfcfcf;
  text-decoration-line: none;
}

.sns {
  display: flex;
  column-gap: 1.2rem;
  height: 2rem;
}
