%input-base {
  @include text-style(16, $blue-gray-100);

  width: 100%;
  padding: 1.8rem 1.5rem;
  border-radius: 0.8rem;
  border: 0.1rem solid $blue-gray-60;
  background-color: $white;
  transition: all ease-in-out 0.2s;

  &::placeholder {
    color: $blue-gray-80;
  }

  &:focus {
    border-color: $primary;
  }
}

.input-group {
  position: relative;

  .input {
    @extend %input-base;

    &.error {
      border-color: $red;
    }
  }

  .btn-password-toggle {
    @include pos-center-y;

    right: 1.5rem;
    width: 1.6rem;
    height: 1.6rem;
  }
}
