.text-field {
  position: relative;
  width: 100%;

  &-label {
    @include text-style(14, $black);
  }

  &-input {
    margin: 1.2rem 0 0.6rem;
  }

  &-message {
    @include text-style(14, $red);

    position: absolute;
    display: none;
    width: 100%;

    &.error {
      display: block;
    }
  }
}
