.section {
  background-color: var(--white-color, #ffffff);
  padding-top: 7rem;
  padding-bottom: 12rem;
}

.navbox {
  background-color: var(--gray-bg-color, #edf7ff);
  padding: 2rem 20rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 192rem;
  margin: 0 auto;
}

.button {
  background-image: linear-gradient(90deg, #6d6afe, #6ae3fe);
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  color: var(--white-color, #ffffff);
  font-weight: 600;
  border-radius: 0.8rem;
  border: none;
  padding: 1.6rem 2rem;
  cursor: pointer;
}

.login {
  width: 12.8rem;
}

.header {
  padding-top: 7rem;
  background-color: var(--gray-bg-color, #edf7ff);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.title {
  text-align: center;
  font-size: 6.4rem;
}

.backgroundClipText {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.titleGradation1 {
  background-image: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
}
.titleGradation2 {
  background-image: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
}
.titleGradation3 {
  background-image: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
}
.titleGradation4 {
  background-image: linear-gradient(99deg, #6d7ccd 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
}
.titleGradation5 {
  background-image: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
}

.linkadd {
  width: 35rem;
}

.heroImage {
  width: 120rem;
  height: 59rem;
}

.subTitle {
  font-size: 4.8rem;
  text-align: left;
  grid-area: title;
}

.description {
  font-size: 1.6rem;
  color: #6b6b6b;
  font-weight: 500;
  line-height: 150%;
  grid-area: description;
}

.image {
  grid-area: image;
}

.content {
  background-color: var(--white-color, #ffffff);
  padding: 5rem 46.1rem;
  display: grid;
  justify-content: center;
  column-gap: 15.7rem;
  row-gap: 1rem;
  width: 100%;
}

.content:nth-of-type(odd) {
  grid-template:
    ". image"
    "title image"
    "description image"
    ". image" /291px 55rem;
}

.content:nth-of-type(even) {
  grid-template:
    "image ."
    "image title"
    "image description"
    "image ." /550px 29.1rem;
}
