.body {
  padding: 23.8rem;
  display: flex;
  justify-content: center;
  background-color: var(--gray-bg-color);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 40rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.sign {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #373740;
}

.sign a {
  color: var(--primary-color);
  text-decoration: underline;
}

.emailContainer,
.passwordContainer,
.passwordCheck {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.label {
  font-size: 1.4rem;
  font-weight: 400;
}

.input {
  padding: 1.8rem 1.5rem;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--gray-20-color);
  width: 100%;
  font-size: 1.6rem;
}

.input:focus {
  outline: 0.1rem solid var(--primary-color);
}

.error {
  outline: 0.1rem solid var(--red-color);
}

.emailErrorMessage,
.passwordErrorMessage,
.passwordCheckErrorMessage {
  display: none;
  color: var(--red-color);
  font-size: 1.6rem;
}

.password {
  position: relative;
}

.eyeButton {
  position: absolute;
  background-color: var(--white-color);
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  width: 1.6rem;
  height: 1.6rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
}

.signButton {
  background-image: linear-gradient(90deg, #6d6afe, #6ae3fe);
  font-size: 1.8rem;
  text-align: center;
  color: var(--white-color, #ffffff);
  font-weight: 600;
  border-radius: 0.8rem;
  padding: 1.6rem 2rem;
  width: 100%;
}

.sns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--gray-20-color);
  background: var(--gray-10-color);
}

.snsTitle {
  flex: 1 1 auto;
  font-size: 1.4rem;
  color: #373740;
}

.snsButton {
  position: relative;
}

.snsIcon {
  position: absolute;
  inset: 1rem;
}
